project           = "az-104"
environment       = "dev"
location          = "northeurope"
resource_group_name = "az-104-dev-rg"

owner       = ""
cost_center = ""

additional_tags = {}
container_name  = "data"
