# Recommended: do NOT commit terraform.tfvars. Use env var instead:
# export TF_VAR_subscription_id="YOUR_SUBSCRIPTION_ID"

subscription_id = ""

location        = "eastus"
environment     = "dev"
resource_prefix = "tf-demo"

vnet_address_space       = ["10.10.0.0/16"]
subnet_address_prefixes  = ["10.10.1.0/24"]

admin_username        = "azureuser"
ssh_public_key_path   = "~/.ssh/id_ed25519.pub"
cloud_init_file       = "cloud-init.yaml.example"
vm_size               = "Standard_B1s"
