project     = "az-104"
environment = "dev"
location    = "northeurope"

# Dependencies from previous stacks:
resource_group_name = "az-104-dev-rg"
nic_name            = "az-104-dev-nic"
nsg_name            = "az-104-dev-nsg"
public_ip_name      = "az-104-dev-pip"

owner       = ""
cost_center = ""
additional_tags = {}

vm_size  = "Standard_B1s"
vm_name  = ""
admin_username = "azureuser"

# Put the *content* of your public key here or export via TF_VAR_admin_ssh_public_key.
admin_ssh_public_key = "ssh-ed25519 AAAA...REPLACE_ME"

# Optional cloud-init (copy cloud-init.yaml.example -> cloud-init.yaml)
cloud_init_file = "cloud-init.yaml"

# SSH (recommended: your IP /32)
enable_ssh        = true
ssh_source_cidrs  = ["0.0.0.0/0"]
ssh_rule_priority = 100
