resource_group_name  = "tfstate-demo-dev-rg"
storage_account_name = "tfstatedemodevsa"
container_name       = "tfstate"
use_azuread_auth     = true

# Keep state keys unique per stack
key = "entra-id/05-managed-identity/terraform.tfstate"