project            = "az-104"
environment        = "dev"
location           = "northeurope"
resource_group_name = "az-104-dev-rg"

owner       = ""
cost_center = ""

additional_tags = {}
vnet_address_space = ["10.10.0.0/16"]
